c_174172234	s_76478	这款背包采用头层牛皮加局部尼龙面料	这款背包采用<材质>头层牛皮</材质>加局部<材质>尼龙</材质>面料
c_214064467	s_14223	优雅的绒面材质	优雅的<材质>绒面</材质>材质
c_172665118	s_51156	橙色与黑色的撞色带来强烈的视觉冲击	<颜色>橙色与黑色</颜色>的<图案>撞色</图案>带来强烈的视觉冲击
c_172842476	s_23290	鞋子整体以粉色和白色两种色调组成	鞋子整体以<颜色>粉色和白色</颜色>两种色调组成
c_213766094	s_9377	门襟处撞色树脂扣装饰	门襟处<图案>撞色</图案>树脂扣装饰
c_175616997	s_46795	红色的衣服	<颜色>红色</颜色>的衣服
c_222758901	s_87193	卡宾双排扣中长款毛呢大衣	卡宾<闭合方式>双排扣</闭合方式>中长款<材质>毛呢</材质>大衣
c_214927215	s_66440	X型后跟部件设计	X型后跟部件设计
c_217009265	s_28257	质感棉柔细腻	质感棉柔细腻
c_214328278	s_71500	另外黑色为主的鞋身上还用白色系带和红色贴布做成点缀	另外<颜色>黑色</颜色>为主的鞋身上还用白色<闭合方式>系带</闭合方式>和红色贴布做成点缀
c_174283154	s_31794	PU材质制成的箱面	<材质>PU</材质>材质制成的箱面
c_172714094	s_54579	清新柔和的天蓝色调	<风格>清新</风格>柔和的<颜色>天蓝色</颜色>调
c_153506192	s_52461	这款休闲鞋采用了低帮的经典设计	这款休闲鞋采用了<鞋帮高度>低帮</鞋帮高度>的经典设计
c_175615663	s_29833	衣身抽象印花设计	衣身抽象<图案>印花</图案>设计
c_154341906	s_59420	腰间的撞色腰带设计	腰间的<图案>撞色</图案>腰带设计
c_225165784	s_3172	柔软的山羊绒毛绒编织触感柔软细腻	柔软的<材质>山羊绒</材质>毛绒编织触感柔软细腻
c_218912600	s_84423	米色与棕色的巧妙结合	<颜色>米色与棕色</颜色>的巧妙结合
c_219106793	s_33480	光滑凉爽的针织面料设计	光滑凉爽的<工艺>针织</工艺>面料设计
c_219622214	s_21958	熙世界刺绣方领衬衫	熙世界<图案>刺绣</图案><领型>方领</领型>衬衫
c_214962351	s_51424	晚白V领印花雪纺裙	晚白<领型>V领</领型><图案>印花</图案><材质>雪纺</材质>裙
